.env*
!.env.example
*service-account.json
cloudbuild*.yml

node_modules
coverage
dist

.eslintcache
.DS_Store
npm-debug.log*
npm-error.log*

.terraform

swagger.yml
swagger.components.yml

serverless.yml